.footer {
  background-image: linear-gradient( 94.3deg,  rgb(20, 26, 56) 10.9%, rgb(50, 55, 120) 87.1% );
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  p {
    color: #fff;
  }
}